.radial{
    display: flex;
    margin-top: 20px;
}
.radial-group{
/* nothing here yet */
}

.infotext{
    font-size: 14px;
    color: #2a2929;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.dependent-text{
    padding-left: 40px;
}

.slds-input-long{
    /* looks like a long text area field */
    width: 40vw;
    min-height: 100px;

    
}

.error-text{
    color: red;
    font-size: 12px;
    margin-top: 5px;

}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}